*
    font-family: 'Museo Sans Cyrl 500', sans-serif
    box-sizing: border-box

@import _header.sass

.container 
    max-width: 950px
    margin: 0 auto


.promo 
    height: 650px
    padding: 21px 0 93px 0
    background: url(../../img/bg.jpg) center (center/cover) no-repeat




.header
    display: flex
    justify-content: space-between
    align-items: center
    &__official
        display: flex
        flex-direction: column
        align-items: center
        font-weight: 500
        font-size: 12px
        color: #ffffff
        span
            font-weight: 500
            font-size: 18px
    &__contacts
        display: flex
        flex-direction: column
        align-items: flex-end
        a
            text-decoration: none
            color: #ffffff
            font-weight: bold
            font-size: 18px
        &__input 
            font-weight: bold
            font-size: 18px
.button
    margin-top: 4px
    background-color: red
    color: #ffffff
    width: 150px
    height: 30px
    font-weight: 500
    font-size: 12px
    text-transform: uppercase
    border: none
    border-radius: 5px
    &_main
        margin-top: 80px
        width: 300px
        height: 50px
        font-weight: 500
        font-size: 16px
    
.promo
    &__header
        color: #ffffff
        font-weight: 700
        font-size: 42px;
        text-transform: uppercase
    &__subheader
        color: #ffffff
        font-weight: 500
        font-size: 24px
        text-transform: uppercase
    &__wrapper
        margin-top: 90px
        display: flex
        flex-direction: column
        align-items: flex-end
    &__icons
        display: flex
        width: 425px
        justify-content: space-between
        margin-top: 60px
    &__icon
        justify-content: center
        width: 133px
        img
            display: block
            margin: 0 auto
            width: 42px
            height: 42px

.text
    text-align: center
    font-weight: 500
    font-size: 14px
    line-height: 14px
    color: #ffffff
    margin-top: 20px

.promo__subtext
    color: #ffffff
    a
        text-decoration: underline
        color: #ffffff


.capabilities
    min-height: 475px
    padding: 73px 0 65px 0
    &__subheader
        font-weight: bold
        font-size: 30px
        color: #0D0D0D
        text-align: center
.capa_cards
    margin-top: 65px
    display: flex
    justify-content: space-between
    align-items: center
.capa_card
    width: 270px
    text-align: center
    img
        display: block
        margin: 0 auto
    span
        display: block
        margin-top: 20px
        font-weight: 300;
        font-size: 14px;
        a
            text-decoration: underline
            color: red
.capa_text
    margin-top: 30px
    font-weight: bold;
    font-size: 18px;

@import _media.sass

.consult
    padding: 100px 0px 108px 0px
    min-height: 680px
    background: url(../../img/bg2.jpg) center (center/cover) no-repeat
.title
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #fff
.title__subheader
    margin-top: 10px
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #fff
.form-input
    margin-top: 36px
    input
        display: flex
        flex-direction: column
        margin-top: 15px
        width: 300px
        height: 54px
        padding-left: 21px
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #4B4B4B;
        border: none
        border-radius: 5px
    button
        margin-top: 20px
        width: 300px;
        height: 58px;
        font-weight: 500;
        font-size: 16px;
